.app {
  position: relative;
  width: 670px;
  height: 510px;
  box-shadow: 0 0 4px #545e6f;
  border-radius: 4px;
  .overflow-hidden {
    position: relative;
    top: -510px;
    left: 320px;
    width: 350px;
    height: 510px;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    .container {
      position: absolute;
    }
  }
}
.drop-down-list {
  position: fixed;
  top: 0;
  left: 0;
}
